body {
    background-color: black;
    color: white;
}

div.container {
    border: 3px solid rgb(248, 182, 0);
    display: grid;
    grid-template-rows: repeat(3, 80px);
    grid-template-columns: 100px 40% repeat(2, 1fr);
    grid-auto-flow: row; /* Completa nas colunas */
    grid-auto-rows: 80px; /* Altura das linhas automáticas */
    grid-auto-columns: 120px; /* Largura das colunas automáticas */
    gap: 10px;
    place-items: normal normal;
    place-content: normal normal;
}

div.item {
    border: 3px solid rgb(0, 255, 157);
    padding: 5px;
}