@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;800&family=Sriracha&display=swap');


body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}


.main-login {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Quando quiser as coisas no meio da tela utilizo:
    -> justify-content: center
    -> align-items: center */
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-login > h1 {
    font-size: 2vw;
    color: #77ffc0;
}

.left-login-image {
    width: 34vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-login > h1 {
    color: #77ffc0;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 5px 35px #00000056;
}

.card-login > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start
}

.textfield > input {
    width: 100%;
    background-color: #514869;
    border: none;
    border-radius: 10px;
    color: #f0ffffde;
    font-size: 12pt;
    padding: 15px;
    outline: none;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #f0ffff94;
}

.btn-login {
    width: 100%;
    margin-top: 30px;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00522c
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }
    .left-login {
        width: 100%;
        height: auto;
    }
    .left-login-image {
        width: 50vw;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
    .card-login {
        width: 95%;
    }
}