* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 160px 80px 1fr 80px; 
    grid-template-columns: 1fr 350px;
    gap: 6px;
}

.caixa {
    background-color: lime;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/* grid-area: Primeiro e a linha inicial, depois a coluna inicial,
e em seguida a linha final e a coluna final */

#topo {
    display: flex;
    background-color: lightblue;
    grid-area: 1 / 1 / 2 / -1; 
}

#menu {
    background-color: lightgreen;
    display: flex;
    grid-area: 2 / 1 / 3 / -1; 
}

#principal {
    background-color: lightcoral;
    display: flex;
    grid-area: 3 / 1 / 4 / 2;

}

#secundario {
    background-color: lightgoldenrodyellow;
    display: flex;
    grid-area: 3 / 2 / 4 / -1;


}

#rodape {
    background-color: lightpink;
    display: flex;
    grid-area: 4 / 1 / 5 / -1;

}
