.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(35, 1fr); 
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
}

.caixa1 {
    display: flex;
    background-color: lightblue;
    grid-area: 1 / 1 / 4 / -1; 
/* primeiro e row (1), segundo e colum(1), terceiro e row (3), 4 e column (-1)*/
    align-items: center;
    justify-content: center;
}

.caixa2 {
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 4; /* Apenas para visualizacao sem abreviacao*/
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: -1;
}

.caixa3 {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 6 / 1 / 33 / 6;

}

.caixa4 {
    background-color: lightgoldenrodyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 6 / 6 / 33 / -1;


}

.caixa5 {
    background-color: lightpink;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 33 / 1 / 35 / -1;

}