body {
    background-color: black;
    color: white;
}

div.container {
    border: 3px solid rgb(248, 182, 0);
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    align-items: normal;
    justify-items: normal;
    align-content:  normal;
    justify-content: normal;
}

div.item {
    border: 3px solid rgb(0, 255, 157);
    padding: 5px;
}