/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Reset Basico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1.5px;
}

/* Reset Basico */
/* Paleta de Cores */

:root {
    --cinza-header: #2b2726;
    --cinza-link: #ededed;
    --preto: #000;
    --branco: #ffffff;
    --neon: #0ef6cc;
    --verde-whats: #40c351;
    --vermelho-email: #f65151;
    --azul-linkedin: #0a66c2;
    --rosa: #ff78dd;
}

body {
    min-height: 100vh;
    font-family: "Orbitron", serif;
    background-color: var(--cinza-header);
    margin: 0;
    padding: 0;

}

.container {
    max-width: 85%;
    margin: 0 auto;
    transition: 0.2s;
}

.top-line {
    width: 100%;
    height: 90px;
    border-bottom: 1.5px solid var(--neon);
}

.navbar-module-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 90px;
    align-items: center;
    border-bottom: 1.5px solid var(--neon);
}

.navbar-module-logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--neon);
    font-weight: 600;
}

.navbar-module-links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-link);
}

.links-navbar {
    position: relative;
}

.links-navbar a {
    color: var(--cinza-link);
}

.links-navbar a:hover {
    font-weight: 700;
}

.links-navbar::before {
    content: "";
    display: flex;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--rosa);
}

.links-navbar:hover::before {
    width: 100%;
    transition: .7s;
}

.links-navbar-ocult {
    display: none;
}

.nav-item-spacing-ocult {
    display: none;
}

.nav-item-spacing {
    display: flex; 
    padding-right: 20px;
}

/* ----------------- CSS DO MENU HAMBURGUER ----------------- */

 /* Estilos básicos */
 body {
    overflow-x: hidden;
}

/* Estilo do checkbox */
#menu-toggle {
    display: none;
}

/* Estilo do ícone do menu hambúrguer */
.menu-icon {
    display: flex;
    justify-content: ;
    align-items: center;
    cursor: pointer;
    color: var(--neon);
    font-size: 28px;
    transition: background-color 0.3s;
    
}

/* Contêiner do ícone do menu */
.menu-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 29px;
    height: auto;
    cursor: pointer;
}
.menu-icon:hover {
    
}
.menu-btn:hover {
    color: var(--laranja);
}

/* Estilo do menu lateral */
.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 230px;
    height: 100%;
    background-color: var(--cinza-header);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 2;
    border-left: 2px solid var(--neon);
    box-shadow: 0px 0px 10px 0px var(--neon);
}

/* Exibe o menu quando o checkbox está marcado */
#menu-toggle:checked + label + .menu-lateral {
    right: 0;
}


/* Estilo dos links do menu */
.nav-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    transition: color 0.3s;
    font-weight: 600;
    position: relative;
    width: 100px;
}

.nav-mobile a::before {
    content: "";
    display: flex;
    position: absolute;
    top: 35px;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--rosa);
}

.nav-mobile a:hover::before {
    width: 100%;
    transition: .7s;
}


/*  */
.menu-logo-lateral {
    display: flex;;
    gap: 50px;
    margin-bottom: 30px;
}

.menu-lateral h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 50px;
    align-items: center;
    border-radius: 4px;
    background-color: var(--laranja);
}

.menu-lateral a:hover {
    
}

.bar-menu {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
}

/* Estilo do botão fechar */
.close-btn {
    background-color: var(--neon);
    border-radius: 6px;
    color: var(--preto);
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 5px;
}

.close-btn:hover {
    background-color: var(--rosa);
    color: var(--roxo-escuro);
}

.header-sidebar-right {
    display: flex;
    width: 10%;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.menu-right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

#sidebar {
    margin-top: -20px;
}

.nav-item-spacing {
    color: var(--cinza-claro);
    cursor: default;
    opacity: 50%;
    margin-right: -20px;
    padding-left: 10px;
}

/* ----------------- ENCERRA MENU HAMBURGUER ----------------- */

/* ----- BACKGROUND ANIMADO ----- */

.background {
    width: 100vw;
    height: 90.1vh;
}

.background-section-mobile {
    display: none;
}

.background-section {
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 90.1vh;
    overflow: hidden;
    z-index: -1;
}

/* ------------------------------------------------------------------------------------------------- */

/* Estilo do container das bolhas */
.bolhas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -2; /* Fica atrás do conteúdo */
    pointer-events: none; /* Impede interação com as bolhas */
}

/* Estilo das bolhas */
.bolhas span {
    position: absolute;
    background-color: #ff78dd; /* Cor padrão */
    border-radius: 50%;
    opacity: 0.8;
    box-shadow: 0 0 10px 5px rgba(255, 120, 221, 0.5); /* Efeito de brilho */
    animation: bolha-animation 12s linear infinite, float-animation 6s ease-in-out infinite;
    transform: scale(0.2); /* Bolhas bem pequenas */
    animation-delay: calc(var(--i) * 0.2s);
    /* Inicia as bolhas em posições aleatórias */
}

/* Animação para mover as bolhas da esquerda para a direita e acima/abaixo */
@keyframes bolha-animation {
    0% {
        transform: translateX(-100vw) translateY(0) scale(0.2);
    }
    100% {
        transform: translateX(100vw) translateY(100vh) scale(0.5); /* As bolhas se movem por toda a tela */
    }
}

/* Efeito de flutuação para dar mais naturalidade às bolhas */
@keyframes float-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Ajustes dinâmicos no tamanho das bolhas */
.bolhas span {
    width: calc(5px + (var(--i) * 0.1)); /* Tamanho muito pequeno */
    height: calc(5px + (var(--i) * 0.1)); /* Tamanho muito pequeno */
    top: calc(5% + (var(--i) * 1)); /* Posição vertical das bolhas */
}

.bolhas span {
    width: 10px;
    height: 10px;
    background: var(--neon);
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px hwb(169 5% 4% / 0.151),
    0 0 50px hwb(169 5% 4%),
    0 0 100px hwb(169 5% 4%);
    animation: animar calc(130s / var(--i)) linear infinite;
}

.bolhas span:nth-of-type(even) {
    background: #ff78dd;
    box-shadow: 0 0 0 10px #ff78dd15,
    0 0 50px #ff78dd,
    0 0 100px #ff78dd;
}

@keyframes animar {
    0% {
        transform: translateX(-10vw) scale(0); 
    }

    100% {
        transform: translateX(100vw) scale(1);
    }
}

/* ------------------------------------------------------------------------------------------------- */

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90.1vh;
} 

.section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 300px;
}

.section-left h1 {
    color: var(--branco);
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 10px;
}

.section-left p {
    color: var(--neon);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.icones {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icones ul li {
    display: flex;
    flex-direction: row;
}

.whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--verde-whats);
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--vermelho-email);
}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--azul-linkedin);
}

.linkedin img {
    width: 20px;
    height: 20px;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--preto);
}

.section-curriculo {

}

.curriculo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 8px;
    color: var(--neon);
    position: relative;
    transition: .5s;
    box-shadow: 0px 0px 10px 0px var(--neon);
}

.curriculo:hover {
    color: var(--preto);
}

.curriculo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neon);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s cubic-bezier(0.5,1.6,0.4,0.7);
}

.curriculo:hover::before {
    transform: scaleX(1);
}

.section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 820px;

}

.section-right img {
    display: flex;
    width: 500px;
    height: 500px;
    border: 2px solid var(--neon);
    border-radius: 50%;
    background-color: var(--cinza-header);
    margin-right: 250px;
    box-shadow: 0px 0px 20px 0px #0ef6cc62;
}

.container-contact {
    max-width: 85%;
    margin: 0 auto;
    transition: 0.2s;
}

.contact-title {
    color: var(--neon);
    font-size: 32px;
}

.section-up-contact {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.up-contact {
    display: flex;
    color: var(--branco);
    gap: 50px;
}

.up-contact h1 {
    font-size: 32px;
}

.main-section-contact {
    width: 100%;
    height: auto;
}

.icones-contact {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.section-form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form label {
    display: none;
}

.form {
    width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.form-top input {
    width: 300px;
    height: 60px;
    border: 2px solid var(--neon);
    border-radius: 6px;
    background-color: var(--cinza-header);
    font-family: "Orbitron", serif;
    font-weight: 600;
    padding-left: 60px;
    position: relative;
    color: var(--branco);
    z-index: 1;
    font-size: 16px;
}


.img-person-form {
    display: flex;
    margin-left: 18px;
    z-index: 2;
    position: absolute;
}

.img-email-form {
    display: flex;
    margin-left: 365px;
    z-index: 2;
    position: fixed;
}

.img-phone-form {
    display: flex;
    margin-left: 18px;
    z-index: 2;
    position: absolute;
}

.img-subject-form {
    display: flex;
    margin-left: 365px;
    z-index: 2;
    position: fixed;
}

.form-bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;;
}

.form-bottom input {
    width: 300px;
    height: 60px;
    border: 2px solid var(--neon);
    border-radius: 6px;
    background-color: var(--cinza-header);
    font-family: "Orbitron", serif;
    font-weight: 600;
    padding-left: 60px;
    color: var(--branco);
    font-size: 16px;
}

.form-mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.img-msg-form {
    display: flex;
    margin-top: -270px;
    margin-left: -590px;
    z-index: 2;
    position: fixed;
}

.form-mensagem textarea {
    width: 100%;
    height: 250px;
    border: 2px solid var(--neon);
    border-radius: 6px;
    background-color: var(--cinza-header);
    color: var(--branco);
    font-family: "Orbitron", serif;
    padding-top: 20px;
    font-weight: 600;
    padding-left: 60px;
    font-size: 16px;
}

.form-mensagem button {
    width: 240px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 6px;
    color: var(--branco);
    cursor: pointer;
    margin-top: 30px;
    color: var(--neon);
    position: relative;
    transition: .5s;
    box-shadow: 0px 0px 10px 0px var(--neon);
    font-weight: 600;
    font-size: 16px;
    font-family: "Orbitron", serif;
}

.form-mensagem button:hover {
    color: var(--preto);
}

.form-mensagem button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neon);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s cubic-bezier(0.5,1.6,0.4,0.7);
}

.form-mensagem button:hover::before {
    transform: scaleX(1);
}

   /* Remove as setinhas (spinner) do campo de número */
   input[type="number"]::-webkit-inner-spin-button,
   input[type="number"]::-webkit-outer-spin-button {
       -webkit-appearance: none; /* Remove no Chrome, Safari e Edge */
       appearance: none; /* Remove nos navegadores modernos */
       margin: 0; /* Remove margens para evitar deslocamento */
   }

   /* Garante que o campo não seja ajustável no Firefox */
   input[type="number"] {
       -moz-appearance: textfield; /* Remove no Firefox */
   }

/* ---------- CSS PAGINA OBRIGADO ---------- */

.section-obrigado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.main-obrigado {
    width: 520px;
    height: 150px;
    margin-top: 60px;
    border: 2px solid var(--neon);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 0px 0px 10px 0px var(--neon);
    background-color: var(--cinza-header);
    transition: 0.3s;
}

.main-obrigado h1 {
    color: var(--neon);
    font-size: 26px;
    font-weight: 700;
    transition: 0.3s;
}

.main-obrigado p {
    color: var(--branco);
    font-size: 18px;
    font-weight: 500;
    transition: 0.3s;
}

.section-obrigado a {
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 6px;
    color: var(--branco);
    cursor: pointer;
    margin-top: 70px;
    color: var(--neon);
    position: relative;
    transition: .5s;
    box-shadow: 0px 0px 10px 0px var(--neon);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-obrigado a:hover {
    color: var(--preto);
}

.section-obrigado a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neon);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s cubic-bezier(0.5,1.6,0.4,0.7);
}

.section-obrigado a:hover::before {
    transform: scaleX(1);
}

/* -------- RESPONSIVIDADE ABAIXO: ----------- */

@media (width <= 950px) {
    .navbar-module-links-list {
        display: none;
    }
    .navbar-module-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 60px;
        align-items: center;
        border-bottom: 1.5px solid var(--neon);
    }
    .top-line {
        width: 100%;
        height: 60px;
        border-bottom: 1.5px solid var(--neon);
    }
}

@media (width <= 770px) {
    .section-up-contact {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-top: 15px;
    }
    .contact-title {
        font-size: 30px;
    }
    .up-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .up-contact h1 {
        font-size: 30px;
    }
    .section-form {
        width: 100%;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .form {
        margin: 0px 0px;
        gap: 0px;
    }
    .form-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .form-top input {
        width: 350px;
        height: 50px;
        border: 2px solid var(--neon);
        border-radius: 6px;
        background-color: var(--cinza-header);
        font-family: "Orbitron", serif;
        font-weight: 600;
        padding-left: 60px;
        position: relative;
        color: var(--branco);
        z-index: 1;
        font-size: 16px;
    }

    .img-person-form {
        margin-left: -285px;
        margin-top: 13px;
        position: absolute;
    }
    .img-email-form {
        margin-left: -285px;
        margin-top: 93px;
        position: absolute;
    }
    .img-phone-form {
        margin-left: -285px;
        margin-top: 13px;
        position: absolute;
    }
    
    .img-subject-form {
        margin-left: -285px;
        margin-top: 93px;
        position: absolute;
    }
    .form-bottom {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .form-bottom input {
        width: 350px;
        height: 50px;
        border: 2px solid var(--neon);
        border-radius: 6px;
        background-color: var(--cinza-header);
        font-family: "Orbitron", serif;
        font-weight: 600;
        padding-left: 60px;
        color: var(--branco);
        font-size: 16px;
    }

    .form-mensagem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    .img-msg-form {
        display: flex;
        margin-top: -95px;
        margin-left: -285px;
        z-index: 2;
        position: absolute;
    }
    
    .form-mensagem textarea {
        width: 350px;
        height: 80px;
        border: 2px solid var(--neon);
        border-radius: 6px;
        background-color: var(--cinza-header);
        color: var(--branco);
        font-family: "Orbitron", serif;
        padding-top: 20px;
        font-weight: 600;
        padding-left: 60px;
        font-size: 16px;
        overflow: auto;
        resize: none;
    }

    /*  */
    .form-mensagem textarea::-webkit-scrollbar {
        width: 12px;  /* Largura da barra de rolagem */
        height: 12px; /* Altura da barra de rolagem (quando necessário para scroll horizontal) */
    }
    
    .form-mensagem textarea::-webkit-scrollbar-thumb {
        background-color: var(--cinza-header);  /* Cor do "thumb" (parte que você arrasta) */
        border-radius: 100px;  /* Arredondamento das bordas do thumb */
        border: 3px solid var(--neon); /* Borda para dar um efeito mais definido */
    }
    
    .form-mensagem textarea::-webkit-scrollbar-thumb:hover {
        background-color: var(--neon);  /* Cor do thumb quando estiver sendo hover */
    }
    
    .form-mensagem textarea::-webkit-scrollbar-track {
        background-color: var(--cinza-link);  /* Cor do fundo da barra de rolagem */
        border-radius: 10px;
    }
    
    .form-mensagem textarea::-webkit-scrollbar-track-piece {
        background-color: #2b2726ce;  /* Cor do fundo da pista de rolagem */
        border-radius: 10px;
    }

    /*  */
}


@media (width <= 700px) {
    .body {
        overflow: hidden;
    }
    .background-section-mobile {
        display: flex;
        overflow: hidden;
    }
    .background-section-mobile img {
        width: 100%;
        height: auto;
        opacity: 30%;
        transform: rotate(180deg);
        overflow: hidden;
    }
    .bolhas {
        display: none;
    }
    .up-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 90.1vh;
        margin: 0 auto;
        transition: 0.3s;
    }

    .section-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .section-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .section-right img {
        display: flex;
        width: 80%;
        height: auto;
        border: 2px solid var(--neon);
        border-radius: 50%;
        background-color: var(--cinza-header);
        box-shadow: 0px 0px 20px 0px #0ef6cc62;
        transition: 0.3s;
    }
    

/* Estilo do menu lateral */

.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--cinza-header);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    transition: left 0.3s ease;
    z-index: 3;
    border: none;
    box-shadow: none;
}

/* Exibe o menu quando o checkbox está marcado */
#menu-toggle:checked + label + .menu-lateral {
    left: 0;
}


/* Estilo dos links do menu */
.nav-mobile {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: color 0.3s;
    font-weight: 800;
    position: relative;
    width: 100%;
}

.nav-mobile a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: color 0.3s;
    font-weight: 800;
    position: relative;
}

.nav-mobile a::before {
    display: none;
}

.nav-mobile a:hover {
    color: var(--rosa);
}


/*  */

.menu-logo-lateral {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 30px;


}

.menu-lateral h2 {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--neon);
    color: var(--preto);
}

.menu-lateral a:hover {
    
}

.bar-menu {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
    background-color: var(--neon);
}

/* Estilo do botão fechar */

.close-btn {
    background-color: var(--neon);
    border-radius: 6px;
    color: var(--preto);
    width: 43px;
    height: 43px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s;
    margin-top: -1px;
}

.close-btn:hover {
    background-color: var(--rosa);
    color: var(--roxo-escuro);
}

.header-sidebar-right {
    display: flex;
    width: 10%;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.menu-right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

#sidebar {
    margin-top: -20px;
}

.nav-item-spacing {
    color: var(--cinza-claro);
    cursor: default;
    opacity: 50%;
    margin-right: -20px;
    padding-left: 10px;
}
 
}


@media (width <= 600px) {
    .section-obrigado {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }
    
    .main-obrigado {
        width: 100%;
        height: 30vh;
        margin-top: 60px;
        border: 2px solid var(--neon);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        box-shadow: 0px 0px 10px 0px var(--neon);
        background-color: var(--cinza-header);
        transition: 0.3s;
    }
    
    .main-obrigado h1 {
        color: var(--neon);
        font-size: 26px;
        font-weight: 700;
        transition: 0.3s;
    }
    
    .main-obrigado p {
        color: var(--branco);
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;
    }
    
    .section-obrigado a {
        width: 180px;
        height: 50px;
        background-color: transparent;
        border: 2px solid var(--neon);
        border-radius: 6px;
        color: var(--branco);
        cursor: pointer;
        margin-top: 70px;
        color: var(--neon);
        position: relative;
        transition: .5s;
        box-shadow: 0px 0px 10px 0px var(--neon);
        font-weight: 600;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .section-obrigado a:hover {
        color: var(--preto);
    }
    
    .section-obrigado a::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--neon);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s cubic-bezier(0.5,1.6,0.4,0.7);
    }
    
    .section-obrigado a:hover::before {
        transform: scaleX(1);
    }
}

@media (width <= 480px) {
    
    .main-obrigado {
        width: 100%;
        height: 33vh;
        margin-top: 60px;
        border: 2px solid var(--neon);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        box-shadow: 0px 0px 10px 0px var(--neon);
        background-color: var(--cinza-header);
        transition: 0.3s;
    }

    .main-obrigado h1 {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--neon);
        font-size: 24px;
        font-weight: 700;
        transition: 0.3s;
    }
    
    .main-obrigado p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85%;
        color: var(--branco);
        font-size: 18px;
        font-weight: 500;
        transition: 0.3s;
    }
}



























/* CSS SEPARADO PELAS ABAS 

.container-sobre {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    height: 90.1vh;

}

.main-section-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    gap: 30px;
}

.section-left-sobre {

}

.sobre-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: auto;
    color: var(--branco);
    background-color: var(--cinza-header);
    border: 0px solid var(--neon);
    border-radius: 10px;
    gap: 10px;
    padding: 20px;
    font-weight: 500;
    transition: .5s;
    box-shadow: 0px 0px 10px 1px var(--neon);
    line-height: 31px;
}

.sobre-left h1 {
    font-size: 24px;
}

.sobre-left p {
    font-size: 18px;
}

.sobre-title {
    color: var(--neon);
}

.section-right-sobre {

}

.sobre-right {

}

.foto-italo-sobre {
    width: 440px;
    height: auto;
    border-radius: 50%;
    background-color: var(--cinza-header);
    box-shadow: 0px 0px 15px 0cqmax var(--neon);
}



/* -------------- CSS PAGINA PROJETOS --------------------

.container-projetos {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    height: 90.1vh;
}

.main-section-projetos {
   width: 100%;
}

.section-up-projetos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-down-projetos {
    width: 100%;
}

.up-projetos {
    gap: 50px;
    width: 480px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    margin: 30px 0px;
    background-color: var(--cinza-header);
    border-radius: 8px;
}

.up-projetos a {
    color: var(--neon);
}

.projetos-title {
    color: var(--neon);
}


.up-projetos h1 {
    font-size: 34px;
}

.down-projetos {
    display: flex;
    gap: 30px;
}

/* ------------------ PROJETO 1 STYLE ------------------

.projeto1 {
    width: 500px;
    height: 550px;
    background-color: var(--cinza-header);
    border: 1px solid var(--neon);
    border-radius: 8px;
    margin-top: 40px;
    color: var(--neon);
    font-size: 15px;
}

.projeto1 img {
    width: 498px;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 11px solid var(--branco);
}

.tech-text {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 16px;
}

.projeto1 h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.projeto1 p {
    margin: 25px 15px;
}

.projeto1 span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: -5px;
    background-color: #0ef6cc1f;
    font-size: 12px;
}

.link-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 113px;
    gap: 50px;
    padding-bottom: 30px;
    margin-left: -15px;
}

.link-text a {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neon);
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 6px;
    font-size: 14px;
}

.link-text a:hover {
    background-color: var(--neon);
    transition: .3s;
    color: var(--preto);
    font-weight: 500;
}

/* ----------------- PROJETO 2 STYLE --------------------

.projeto2 {
    width: 500px;
    height: 550px;
    background-color: var(--cinza-header);
    border: 1px solid var(--neon);
    border-radius: 8px;
    margin-top: 40px;
    color: var(--neon);
    font-size: 15px;
}

.projeto2 img {
    width: 498px;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.tech-text {
    display: flex;
    flex-direction: row;
}

h2 {
    font-size: 16px;
}

.projeto2 h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.projeto2 p {
    margin: 25px 15px;
}

.projeto2 span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: -5px;
    background-color: #0ef6cc1f;
    font-size: 12px;
}

.link-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 113px;
    gap: 50px;
    padding-bottom: 30px;
    margin-left: -15px;
}

.link-text a {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neon);
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 6px;
    font-size: 14px;
}

.link-text a:hover {
    background-color: var(--neon);
    transition: .3s;
    color: var(--preto);
    font-weight: 500;
}

/* ------------------- PROJETO 3 STYLE -----------------

.projeto3 {
    width: 500px;
    height: 550px;
    background-color: var(--cinza-header);
    border: 1px solid var(--neon);
    border-radius: 8px;
    margin-top: 40px;
    color: var(--neon);
    font-size: 15px;
}

.projeto3 img {
    width: 498px;
    height: auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: 40px solid var(--branco);
}

.tech-text {
    display: flex;
}

h2 {
    font-size: 16px;
}

.projeto3 h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
}

.projeto3 p {
    margin: 25px 15px;
}

.projeto3 span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 20px;
    border-radius: 5px;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: -5px;
    background-color: #0ef6cc1f;
    font-size: 12px;
}

.link-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 113px;
    gap: 50px;
    padding-bottom: 30px;
    margin-left: -15px;
}

.link-text a {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--neon);
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 6px;
    font-size: 14px;
}

.link-text a:hover {
    background-color: var(--neon);
    transition: .3s;
    color: var(--preto);
    font-weight: 500;
}


/* ---------- CSS PAGINA CONTATO ---------- 

.container-contact {
    
}

.contact-title {
    color: var(--neon);
}



/* ----------------------------------------

*/


























/*

h1 {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #45a049;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.projects a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.projects a:hover {
    background-color: #4CAF50;
    color: white;
}

*/