/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

/* Reset Basico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 1.5px;
}

/* Reset Basico */
/* Paleta de Cores */

:root {
    --cinza-header: #2b2726;
    --cinza-link: #ededed;
    --preto: #000;
    --branco: #ffffff;
    --neon: #0ef6cc;
    --verde-whats: #40c351;
    --vermelho-email: #f65151;
    --azul-linkedin: #0a66c2;
    --rosa: #ff78dd;
}

body {
    min-height: 100vh;
    font-family: "Orbitron", serif;
    background-color: var(--cinza-header);
    margin: 0;
    padding: 0;
    
}

.container {
    max-width: 85%;
    margin: 0 auto;
    transition: 0.2s;
}

.top-line {
    width: 100%;
    height: 90px;
    border-bottom: 1.5px solid var(--neon);
}

.navbar-module-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 90px;
    align-items: center;
    border-bottom: 1.5px solid var(--neon);
}

.navbar-module-logo {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--neon);
    font-weight: 600;
}

.navbar-module-links-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 18px;
    font-weight: 500;
    color: var(--cinza-link);
}

.links-navbar {
    position: relative;
}

.links-navbar a {
    color: var(--cinza-link);
}

.links-navbar a:hover {
    font-weight: 700;
}

.links-navbar::before {
    content: "";
    display: flex;
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--rosa);
}

.links-navbar:hover::before {
    width: 100%;
    transition: .7s;
}

.links-navbar-ocult {
    display: none;
}

.nav-item-spacing-ocult {
    display: none;
}

.nav-item-spacing {
    display: flex; 
    padding-right: 20px;
}

/* ----------------- CSS DO MENU HAMBURGUER ----------------- */

 /* Estilos básicos */
 body {
    overflow-x: hidden;
}

/* Estilo do checkbox */
#menu-toggle {
    display: none;
}

/* Estilo do ícone do menu hambúrguer */
.menu-icon {
    display: flex;
    justify-content: ;
    align-items: center;
    cursor: pointer;
    color: var(--neon);
    font-size: 28px;
    transition: background-color 0.3s;
    
}

/* Contêiner do ícone do menu */
.menu-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 29px;
    height: auto;
    cursor: pointer;
}
.menu-icon:hover {
    
}
.menu-btn:hover {
    color: var(--laranja);
}

/* Estilo do menu lateral */
.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -300px;
    width: 230px;
    height: 100%;
    background-color: var(--cinza-header);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    transition: right 0.3s ease;
    z-index: 2;
    border-left: 2px solid var(--neon);
    box-shadow: 0px 0px 10px 0px var(--neon);
}

/* Exibe o menu quando o checkbox está marcado */
#menu-toggle:checked + label + .menu-lateral {
    right: 0;
}


/* Estilo dos links do menu */
.nav-mobile a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    transition: color 0.3s;
    font-weight: 600;
    position: relative;
    width: 100px;
}

.nav-mobile a::before {
    content: "";
    display: flex;
    position: absolute;
    top: 35px;
    bottom: 0px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--rosa);
}

.nav-mobile a:hover::before {
    width: 100%;
    transition: .7s;
}


/*  */
.menu-logo-lateral {
    display: flex;;
    gap: 50px;
    margin-bottom: 30px;
}

.menu-lateral h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 50px;
    align-items: center;
    border-radius: 4px;
    background-color: var(--laranja);
}

.menu-lateral a:hover {
    
}

.bar-menu {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
}

/* Estilo do botão fechar */
.close-btn {
    background-color: var(--neon);
    border-radius: 6px;
    color: var(--preto);
    width: 40px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 5px;
}

.close-btn:hover {
    background-color: var(--rosa);
    color: var(--roxo-escuro);
}

.header-sidebar-right {
    display: flex;
    width: 10%;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.menu-right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

#sidebar {
    margin-top: -20px;
}

.nav-item-spacing {
    color: var(--cinza-claro);
    cursor: default;
    opacity: 50%;
    margin-right: -20px;
    padding-left: 10px;
}

/* ----------------- ENCERRA MENU HAMBURGUER ----------------- */

/* ----- BACKGROUND ANIMADO ----- */

.background {
    width: 100vw;
    height: 90.1vh;
}

.background-section-mobile {
    display: none;
}

.background-section {
    opacity: 60%;
    position: absolute;
    width: 100%;
    height: 90.1vh;
    overflow: hidden;
    z-index: -1;
}

.bolhas {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.bolhas span {
    width: 10px;
    height: 10px;
    background: var(--neon);
    margin: 0px 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px hwb(169 5% 4% / 0.151),
    0 0 50px hwb(169 5% 4%),
    0 0 100px hwb(169 5% 4%);
    animation: animar calc(100s / var(--i)) linear infinite;
}

.bolhas span:nth-of-type(even) {
    background: #ff78dd;
    box-shadow: 0 0 0 10px #ff78dd15,
    0 0 50px #ff78dd,
    0 0 100px #ff78dd;
}

@keyframes animar {
    0% {
        transform: translateX(-10vw) scale(0);
        
        
    }

    100% {
        transform: translateX(100vw) scale(1);
    }
}

/* ----- BACKGROUND ANIMADO ----- */

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 90.1vh;
} 

.section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 300px;
}

.section-left h1 {
    color: var(--branco);
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 10px;
}

.section-left p {
    color: var(--neon);
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 40px;
}

.icones {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.icones ul li {
    display: flex;
    flex-direction: row;
}

.whatsapp {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--verde-whats);
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--vermelho-email);
}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--azul-linkedin);
}

.linkedin img {
    width: 20px;
    height: 20px;
}

.github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--preto);
}

.section-curriculo {

}

.curriculo {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid var(--neon);
    border-radius: 8px;
    color: var(--neon);
    position: relative;
    transition: .5s;
    box-shadow: 0px 0px 10px 0px var(--neon);
}

.curriculo:hover {
    color: var(--preto);
}

.curriculo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--neon);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s cubic-bezier(0.5,1.6,0.4,0.7);
}

.curriculo:hover::before {
    transform: scaleX(1);
}


.section-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 820px;

}

.section-right img {
    display: flex;
    width: 500px;
    height: 500px;
    border: 2px solid var(--neon);
    border-radius: 50%;
    background-color: var(--cinza-header);
    margin-right: 250px;
    box-shadow: 0px 0px 20px 0px #0ef6cc62;
}


/* ------------------------ CSS PAGINA SOBRE --------------------------- */

.container-sobre {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    height: auto;

}

.main-section-sobre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 10px;
    gap: 30px;
}

.section-left-sobre {

}

.sobre-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 650px;
    height: auto;
    color: var(--branco);
    background-color: var(--cinza-header);
    border: 0px solid var(--neon);
    border-radius: 10px;
    gap: 25px;
    padding: 18px;
    font-weight: 500;
    transition: .5s;
    box-shadow: 0px 0px 15px 1px var(--neon);
    line-height: 31px;
}

.sobre-left h1 {
    font-size: 24px;
}

.sobre-left p {
    font-size: 18px;
}

.sobre-title {
    color: var(--neon);
}

.tittle-neon {
    color: var(--neon);
}

.section-right-sobre {

}

.sobre-right {

}

.foto-italo-sobre {
    width: 450px;
    height: auto;
    border-radius: 50%;
    background-color: var(--cinza-header);
    box-shadow: 0px 0px 20px 1px var(--neon);
} 

@media (width <= 1300px) {
    .section-left-sobre {
        width: 50%;
        height: auto;
    
    }

    .sobre-left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 450px;
        margin: 0px 0px;
        overflow: auto;
        gap: 0px;
        box-sizing: border-box;

    }

    .sobre-left::-webkit-scrollbar {
        width: 12px;  /* Largura da barra de rolagem */
        height: 12px; /* Altura da barra de rolagem (quando necessário para scroll horizontal) */
    }
    
    .sobre-left::-webkit-scrollbar-thumb {
        background-color: var(--cinza-header);  /* Cor do "thumb" (parte que você arrasta) */
        border-radius: 100px;  /* Arredondamento das bordas do thumb */
        border: 3px solid var(--neon); /* Borda para dar um efeito mais definido */
    }
    
    .sobre-left::-webkit-scrollbar-thumb:hover {
        background-color: var(--neon);  /* Cor do thumb quando estiver sendo hover */
    }
    
    .sobre-left::-webkit-scrollbar-track {
        background-color: var(--cinza-link);  /* Cor do fundo da barra de rolagem */
        border-radius: 10px;
    }
    
    .sobre-left::-webkit-scrollbar-track-piece {
        background-color: #2b2726ce;  /* Cor do fundo da pista de rolagem */
        border-radius: 10px;
    }

    .sobre-left h1 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .sobre-left p {
        font-size: 16px;
    }
}

@media (width <= 1100px) {
    .container-sobre {
        max-width: 95%;
    }
    .sobre-left {
        width: 450px;
    }

    .sobre-left h1 {
        font-size: 18px;
    }
    .sobre-left p {
        font-size: 15px;
    }
}

@media (width <= 1000px) {
    .container-sobre {
        max-width: 85%;
        height: auto;
    }

    .main-section-sobre {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 60px;
    }

    .section-left-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 200px;
        margin: 0px 0px;
        padding: 0px 0px;
    }

    .sobre-left {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        height: 200px;
        margin: 0px 0px;
        overflow: auto;
        gap: 0px;
        box-sizing: border-box;

    }

    .sobre-left h1 {
        padding-bottom: 10px;
    }

    .sobre-left p {
        width: 100%;
        height: auto;
    }

    .sobre-right {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .foto-italo-sobre {
        display: flex;
        width: 60%;
        height: auto;
    }
}

@media (width <= 950px) {
    .navbar-module-links-list {
        display: none;
        transition: 0.3s;
    }
    .navbar-module-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 60px;
        align-items: center;
        border-bottom: 1.5px solid var(--neon);
    }
    .top-line {
        width: 100%;
        height: 60px;
        border-bottom: 1.5px solid var(--neon);
    }
}

@media (width <= 700px) {
    .body {
        overflow: hidden;
    }
    
    .background-section {
        opacity: 60%;
        position: absolute;
        width: 100%;
        height: auto;
        z-index: -1;
    }

    .background-section-mobile {
        display: flex;
        overflow: hidden;
    }
    .background-section-mobile img {
        width: 100%;
        height: auto;
        opacity: 30%;
        transform: rotate(180deg);
        overflow: hidden;
    }
    .bolhas {
        display: none;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
        transition: 0.3s;
        overflow: hidden;
    }

    .main-section-sobre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        overflow: hidden;
    }

    .section-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-bottom: 50px;
    }

    .section-left-sobre {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: px;
        padding: 0px 0px;
    }

    .section-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .section-right img {
        display: flex;
        width: 90%;
        height: auto;
        border: 2px solid var(--neon);
        border-radius: 50%;
        background-color: var(--cinza-header);
        box-shadow: 0px 0px 20px 0px #0ef6cc62;
        transition: 0.3s;
    }
    .foto-italo-sobre {
        display: flex;
        width: 70%;
        height: auto;
        transition: 0.3s;
    }

/* Estilo do menu lateral */

.menu-lateral {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: var(--cinza-header);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    transition: left 0.3s ease;
    z-index: 1;
    border: none;
    box-shadow: none;
}

/* Exibe o menu quando o checkbox está marcado */
#menu-toggle:checked + label + .menu-lateral {
    left: 0;
}


/* Estilo dos links do menu */
.nav-mobile {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: color 0.3s;
    font-weight: 800;
    position: relative;
    width: 100%;
}

.nav-mobile a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    transition: color 0.3s;
    font-weight: 800;
    position: relative;
}

.nav-mobile a::before {
    display: none;
}

.nav-mobile a:hover {
    color: var(--rosa);
}


/*  */

.menu-logo-lateral {
    width: 100%;
    height: 110px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0px;
    margin-bottom: 30px;


}

.menu-lateral h2 {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--neon);
    color: var(--preto);
}

.menu-lateral a:hover {
    
}

.bar-menu {
    width: 100%;
    margin: 5px 0px;
    height: 1px;
    background-color: var(--neon);
}

/* Estilo do botão fechar */

.close-btn {
    background-color: var(--neon);
    border-radius: 6px;
    color: var(--preto);
    width: 43px;
    height: 43px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    transition: 0.3s;
    margin-top: -1px;
}

.close-btn:hover {
    background-color: var(--rosa);
    color: var(--roxo-escuro);
}

.header-sidebar-right {
    display: flex;
    width: 10%;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
}

.menu-right {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: right;
}

#sidebar {
    margin-top: -20px;
}

.nav-item-spacing {
    color: var(--cinza-claro);
    cursor: default;
    opacity: 50%;
    margin-right: -20px;
    padding-left: 10px;
}

}

@media (width <= 600px) {
    .foto-italo-sobre {
        display: flex;
        width: 85%;
        height: auto;
        transition: 0.3s;
    }

}






















