div.container {
    display: flex;
    background-color: lightsalmon;
    flex-flow: row nowrap;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 250px;
    flex-shrink: 1; /* Diminui o tamanho do item (contrai)*/
    flex-grow: 1;   /* Aumenta o tamanho do item (expande)*/
}