@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

@font-face {
    font-family: 'Cheap Pine Sans';
    /* O nome que você vai usar no código */
    src: url('../Fonts/FontCheapPineSans.otf') format('truetype');
    /* Caminho correto do arquivo */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Deca';
    /* O nome que você vai usar no código */
    src: url('../Fonts/FontLexendDeca.ttf') format('truetype');
    /* Caminho correto do arquivo */
    font-weight: normal;
    font-style: normal;
}


/* --------------- Reset Basico e CSS Grid ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-primaria: #DA940B;
    --cor-secundaria: #a7740d;
    --branco: #fff;
    --cinza-claro: #d1d1d1;
    --cinza-escuro: #1C1C1C;
    --preto: #000000;
    --cinza-black: #1D1D1D;
    color-scheme: only light;
    /* se for escuro ai seria only dark */
}

/* Configuração para Monitores (Desktop) */
.container-principal {
    display: grid;
    grid-template-columns: auto 90vw auto;
}

/* Garanta que o conteúdo central fique sempre na coluna 2 */
main,
footer {
    grid-column: 2;
    width: 100%;
}


/* ------------------------------------------------------------ */






















/* Media Query para Tablet (Abaixo de 1024px) */
@media (max-width: 1024px) {
    .container-principal {
        /* No tablet, o conteúdo ocupa 95% para não encostar na borda física do aparelho */
        grid-template-columns: 1fr 95% 1fr;
    }
}


/* Media Query para Celular (Abaixo de 768px) */
@media (max-width: 768px) {

    /* ---------- Config Padrao Abaixo ( Main ) ---------- */

    .container-principal {
        display: grid;
        /* auto 90vw auto: Cria colunas flexíveis nas pontas e trava o meio em 90% da largura da tela */
        grid-template-columns: auto 90vw auto;

        /* min-content: Garante que cada linha tenha apenas a altura do seu conteúdo, evitando espaços vazios ou sobreposição */
        grid-auto-rows: min-content;

        /* Garante que o grid use toda a largura disponível para calcular as margens 'auto' */
        width: 100%;
    }

    /* O símbolo '>' seleciona apenas os filhos diretos (sections e articles) */
    .container-principal>* {
        /* grid-column: 2: Força todos os elementos a ficarem na coluna central (90vw) por padrão */
        grid-column: 2;
        width: 100%;
    }


    /* ESTICANDO O FUNDO (FULL-BLEED) */ 
    .background-black { 
        /* 1 / -1: Faz a section ignorar as margens e ir da borda 1 até a última borda (-1) */
        grid-column: 1 / -1;
        background-color: #000;

        /* Transformamos a section em um grid interno para poder centralizar o texto novamente */
        display: grid;
        /* 'inherit' ou repetir o esquema original para que o conteúdo interno se alinhe com o resto do site */
        grid-template-columns: auto 90vw auto;
        padding-bottom: 50px;
    }

    /* Garante que o conteúdo DENTRO da section preta não bata na borda da tela */
    .background-black>* {
        /* Joga o texto/vídeo de volta para a coluna 2 (o meio) */
        grid-column: 2;
        width: 100%;
    }

    /* ---------- Config Padrao Abaixo ( Main ) ---------- */

    /* -------------------- Header ------------------- */

    header {
        top: 0;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 17px;
        background-color: #000000;
        border-bottom: 2px solid var(--cor-primaria);
        z-index: 100000;
        position: sticky;
    }

    .logo img {
        width: 110px;
        padding-top: 5px;
        height: auto;
    }

    .menu-social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        padding-top: 5px;
        width: 100%;
        gap: 20px;
    }

    .menu-social a img {
        width: 28px;
    }

    .menu-social a img:hover {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }

    /* 2. CONTAINER DO MENU (HEADER) */
    .menu-container {
        background: var(--preto);
        padding: 0px 17px;
        position: relative;
        z-index: 1000;
        display: flex;
        justify-content: flex-end;
        /* Alinha o botão X/Hamburguer na direita */
        align-items: center;
    }

    /* 3. BOTÃO HAMBÚRGUER / X */
    #menu-toggle {
        display: none;
        outline: none;
        box-shadow: none !important;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 28px;
        height: 20px;
        cursor: pointer;
        z-index: 1001;

    }

    .line {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #d4af37;
        /* Dourado da logo */
        transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    }

    /* Transformação para o X */
    #menu-toggle:checked+.hamburger .line:nth-child(1) {
        transform: translateY(9.5px) rotate(45deg);
        background-color: #fff;
        /* Muda para branco quando vira X */
    }

    #menu-toggle:checked+.hamburger .line:nth-child(2) {
        opacity: 0;
    }

    #menu-toggle:checked+.hamburger .line:nth-child(3) {
        transform: translateY(-9.5px) rotate(-45deg);
        background-color: #fff;
    }

    /* 4. O MENU (GAVETA LATERAL DIREITA) */
    .nav-menu {
        position: absolute;
        top: 41px;
        /* Brota logo abaixo do header */
        right: 0;
        /* ALINHAMENTO À DIREITA: Corrige o erro de sumir da tela */
        width: 100vw;
        /* Largura ideal para mobile */
        background: rgba(0, 0, 0, 0.918);
        /* Preto quase sólido */
        list-style: none;
        border-top: 1px solid var(--cinza-claro);
        /* Estado inicial (escondido) */
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.301);

    }

    /* Estado Ativo (quando clica) */
    #menu-toggle:checked~.nav-menu {
        max-height: 100vh;
        /* Abre o quanto for necessário */
        opacity: 1;
        visibility: visible;
    }

    /* 5. ITENS DO MENU */
    .nav-menu li {
        width: 100%;
        border-bottom: 1px solid var(--cinza-claro);
    }

    .nav-menu li a {
        font-family: Lexend Deca;
        display: block;
        padding: 18px 30px;
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        /* Texto alinhado à direita para seguir o botão */
        font-size: 12px;
        letter-spacing: 2px;
        transition: 0.3s;
        text-transform: uppercase;
    }

    /* Efeito ao passar o mouse ou segurar o dedo */
    .nav-menu li a:hover {
        background: #111;
        color: #d4af37;
        padding-right: 40px;
        /* Pequeno movimento para a esquerda no hover */
    }

    /* -------------------- Header ------------------- */

    /* ----------- Secao Principal (Index) ----------- */

    .hero-section {
        /* position relative: Permite que elementos filhos com 'absolute' usem esta seção como base */
        position: relative;

        /* Como ela faz parte do topo preto, também deve ocupar a largura total da tela */
        grid-column: 1 / -1;
    }

    .hero-section img {
        width: 100%;
        object-fit: cover;
        height: 400px;
        opacity: 30%;
        filter: grayscale(100%);
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    }


    .hero-content {
        position: absolute;
        top: 30%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tagline {
        font-family: Cheap Pine Sans;
        color: var(--cor-primaria);
        display: flex;
        font-size: 26px;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
        padding-bottom: 10px;
    }

    .line-text {
        margin-top: 14px;
        margin-right: 10px;
        display: block;
        width: 23px;
        height: 3px;
        background-color: var(--cor-primaria);
        /* Dourado da logo */
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    }

    .h1-content {
        font-family: Cheap Pine Sans;
        font-size: 36px;
        color: var(--branco);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }

    .btn-agendar {
        width: 100%;
        font-family: Cheap Pine Sans;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--branco);
        font-size: 26px;
        padding: 10px;
        border: 2px solid var(--cor-primaria);
        margin-top: 50px;
    }

    .btn-agendar:hover {
        background-color: var(--cor-primaria);
        color: var(--preto);
        transition: 0.2s;
    }

    .adress {
        width: 100%;
        border-top: 1px solid var(--cor-primaria);
        border-bottom: 1px solid var(--cor-primaria);
        font-family: Cheap Pine Sans;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--branco);
        font-size: 30px;
        padding-top: 10px;
    }

    .adress a {
        text-decoration: none;
        color: var(--branco);
    }

    .adress2 {
        margin-top: 20px;
    }

    .tagline2 {
        width: 65%;
        height: 1px;
        border-radius: 50%;
        background-color: var(--cor-primaria);
        box-shadow: 0 2px 10px #ffc400af;
    }

    .number2 {
        width: 100%;
        font-family: Cheap Pine Sans;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--branco);
        font-size: 30px;
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .elementor-widget-container {
        height: auto;
    }

    .widget-video iframe {
        width: 100%;
        height: 854px;
        -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
        mask-image: linear-gradient(to top, black 80%, transparent 100%);
        clip-path: inset(85px 0 0 0);
        margin-top: -80px;
    }

    .widget-info {
        height: auto;
        margin-top: 30px;
    }

    .widget-info span {
        font-size: 30px;
    }

    .widget-info p {
        font-family: Lexend Deca;
        color: white;
        font-size: 15px;
        font-weight: 0;
    }

    .card-review {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .planos-section {
        position: relative;
    }

    .banner-vertical {
        position: relative;
        object-fit: cover;
        width: 100%;
        background-color: #bd9923;
        height: 680px;
        margin-bottom: 50px;

    }

    .banner-horizontal {
        display: none;
    }

    .planos-content {
        top: 8%;
        left: 10%;
        width: 80%;
        position: absolute;
        /* era ABSOLUTE */
    }

    .planos-content a {
        margin-top: 25px;
    }

    .adress-section {
        width: 100%;
        padding-top: 50px;
    }

    .tittle-adress {
        font-family: Cheap Pine Sans;
        font-size: 34px;
        color: var(--branco);
        padding-bottom: 30px;
    }

    .content-adress {
        font-family: Lexend Deca;
        font-size: 16px;
        font-weight: 0;
        color: var(--branco);
        line-height: 25px;  
    }

    .iframe-adress {
        width: 100%;
        padding-top: 20px;
    }

    .iframe-adress iframe {
        width: 100%;
        height: 400px; 
        border: 2px solid #d4af37;
        border-radius: 10px;
        /* O segredo para o modo escuro: */
        filter: invert(90%) hue-rotate(180deg) brightness(95%) contrast(90%);
        margin-top: 10px;
    }



    /* ----------- Secao Principal (Index) ----------- */

    /* --------------- Section Footer ---------------- */

    .background-footer-logo {
        grid-column: 1 / -1;
    }

    .logo-footer {
        width: 100%;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--branco);
        
    }

    .logo-footer img {
        width: 150px;
    }

    .background-cinza-black {
                /* 1 / -1: Faz a section ignorar as margens e ir da borda 1 até a última borda (-1) */
        grid-column: 1 / -1;
        background-color: var(--cinza-escuro);
        /* Transformamos a section em um grid interno para poder centralizar o texto novamente */
        display: grid;
        /* 'inherit' ou repetir o esquema original para que o conteúdo interno se alinhe com o resto do site */
        grid-template-columns: auto 90vw auto;
        padding-bottom: 50px;
    }

    .background-cinza-black>* {
        /* Joga o texto/vídeo de volta para a coluna 2 (o meio) */
        grid-column: 2;
        width: 100%;
    }

    
    .background-black-footer {
                /* 1 / -1: Faz a section ignorar as margens e ir da borda 1 até a última borda (-1) */
        grid-column: 1 / -1;
        background-color: var(--preto);
        /* Transformamos a section em um grid interno para poder centralizar o texto novamente */
        display: grid;
        /* 'inherit' ou repetir o esquema original para que o conteúdo interno se alinhe com o resto do site */
        grid-template-columns: auto 90vw auto;
    }

    .background-black-footer>* {
        /* Joga o texto/vídeo de volta para a coluna 2 (o meio) */
        grid-column: 2;
        width: 100%;
    }


    .background-cinza-black-footer {
        width: 100%;
        background-color: var(--cinza-escuro);
    }
    .footer-section {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--branco);
        font-family: Lexend Deca;
        
        font-size: 13px;
        text-align: center;
    }
    .footer-section img {
        padding-top: 10px;
        width: 100px;
    }
    
    /* --------------- Section Footer ---------------- */

    /* --------------- Pagina Servicos --------------- */

    .servicos-section {
        /* position relative: Permite que elementos filhos com 'absolute' usem esta seção como base */
        position: relative;

        /* Como ela faz parte do topo preto, também deve ocupar a largura total da tela */
        grid-column: 1 / -1;
        flex-direction: column;
        width: 100%;

    }
    
    .header-servicos {
        display: flex;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }

    .servicos-section img {
        width: 90%;
       
    }

    .line-top {
        display: block;
        width: 100%;
        height: 50px;
    }

    .tag-preco {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        padding-right: 1px;
        font-family: Cheap Pine Sans;
        font-size: 18px;
        align-items: flex-end;
    }

    .wrapper-preco-clube {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        font-family: Cheap Pine Sans;
        width: 100%;
        gap: 35px;
        font-size: 18px;
        color: #000000c7;
        padding-bottom: 3px;
    }

    .preenchimento1 {}

    .preenchimento2 {
        grid-column: 2 / 3;
        border-bottom: 0px dotted var(--preto);
        margin-left: -10px;
        width: 100%;
    }

    .tag-avulso {
        grid-column: 3;
        color: var(--branco);
    }

    .tag-clube {
        color: var(--branco);
    }

    .grid-servicos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .servicos {
        font-family: Cheap Pine Sans;
        font-size: 25px;
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        grid-auto-rows: auto;
        align-items: center;
        gap: 25px;
    }

    .servicos-nome {
        width: 100%;
        border: 1px solid var(--branco);
        padding: 5px
    }

    .grid-servicos a {
        letter-spacing: 1px;
        color: var(--branco);
    }

    .elementor-divider {
        grid-column: 2 / 3;
        border-bottom: 2px dotted var(--branco);
        margin-left: -10px;
        width: 100%;
    }

    .valor-avulso {
        grid-column: 3 / 4;
        font-size: 23px;
        color: var(--branco);
    }

    .valor-clube {
        grid-column: 4 / 5;
        font-size: 23px;
        color: var(--branco);
    }

    .grid-servicos p {
        grid-column: 1 / 5;
        color: var(--branco);
        font-family: Lexend Deca;
        font-size: 15px;
        margin-top: -15px;
    }

    .wrapper-servicos {
        font-family: Cheap Pine Sans;
        font-size: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .link-wrapper1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        text-decoration: none;
        border: 3px solid var(--branco);
        color: var(--branco);
        transition: all 0.2s ease-in-out;
    }

    .link-wrapper1:hover {
        background-color: var(--branco);
        color: var(--preto);
        transition: all 0.2s ease-in-out;
    }

    .link-wrapper2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60px;
        text-decoration: none;
        border: 3px solid var(--cor-primaria);
        background-color: var(--cinza-black);
        color: var(--branco);
        transition: all 0.2s ease-in-out;
    }

    .link-wrapper2:hover {
        color: var(--preto);
        background-color: var(--cor-primaria);
        border: 3px solid var(--cor-primaria);
        transition: all 0.2s ease-in-out;
    }

    /* --------------- Pagina Servicos --------------- */

    /* -------------- Pagina Barbeiros --------------- */

    .barbeiros-section {
        width: 100%;
    }

    .barbeiros-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .barbeiros-img img {
        width: 80%;
        padding: 30px 0px;
    }

    .barbeiros-content {
        width: 100%;
        font-family: Lexend Deca;
        font-size: 16px;
        color: var(--branco);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .barbeiros-content span {
        width: 100%;
    }

    .barbeiros-text-top {
        width: 100%;
        margin: 20px 0px;
        text-align: center;
        line-height: 23px;
    }

    .barbeiros-text-bottom {
        text-align: center;
        line-height: 23px;
    }

    /* Card Barbeiros */

    .equipe {
        padding-top: 50px;
        text-align: center;
    }

    .equipe h2 {
        color: #d4af37; 
        margin-bottom: 30px;
    }

    /* 1. Aumentado a largura total do container, e limitado o tamanho do card */
    .swiper {
        width: 100%;
        max-width: 700px; /* Largura total maior para a seta ter onde ficar */
        padding: 20px 80px; /* (vazio para as setas) */
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    /* 2. Centralizado o card e definido um tamanho menor para a imagem não colar nas setas */
    .card-barbeiro {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .moldura {
        width: 70%; /* AJUSTE: Tamanho fixo menor para a imagem ficar no meio */
        height: auto; /* Ajustar conforme a proporção das fotos */
        max-height: 600px;
        border: 1px solid #d4af37;
        border-radius: 15px;
        overflow: hidden;
        background-color: #1a1a1a;
        box-shadow: 0 2px 10px #d4af37af;
    }

    .moldura img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
    }

    /* 3. Posicionamento das setas totalmente nos cantos do container */
    .swiper-button-prev {
        left: 10px !important; /* Fixa bem no canto esquerdo */
    }

    .swiper-button-next {
        right: 10px !important; /* Fixa bem no canto direito */
    }

    /* 4. Estilo das setas (Redondas e Douradas) */
    .swiper-button-next,
    .swiper-button-prev {
        
        color: #d4af37 !important;
        transition: all 0.3s ease;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: Cheap Pine Sans;
        font-size: 25px !important;
        font-weight: bold;
    }

    /* Nome do Barbeiro */
    .card-barbeiro h3 {
        font-family: Cheap Pine Sans;
        color: #d4af37;
        margin-bottom: 20px;
        font-size: 8.2vw;
        letter-spacing: 2px;
        
    }

    /* -------------- Pagina Barbeiros --------------- */

    /* -------------- Pagina Trabalhos -------------- */

    .trabalho-section {
        width: 100%;
    }

    .trabalho-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 0px;
    }

    .trabalho-img img {
        width: 90%;
    }

    .trabalhos-content {
    
    }

    .trabalhos-content img {
        width: 100%;
        padding: 0px 0px;
        border: 2px solid var(--cor-primaria);
        margin: 5px 0px;
        border-radius: 10px;
    }

    .trabalho-btn-agendar {
        width: 100%;
        font-family: Cheap Pine Sans;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--branco);
        font-size: 26px;
        padding: 15px;
        border: 2px solid var(--cor-primaria);
        border-radius: 10px;
        margin-top: 10px;
    }

    .trabalho-btn-agendar:hover {
        background-color: var(--cor-primaria);
        color: var(--preto);
        transition: 0.2s;
    }

    /* -------------- Pagina Trabalhos -------------- */

    /* -------------- Pagina Contato ------------------ */
    /* -------------- Pagina Contato ------------------ */

    /* -------------- Pagina Clube ------------------ */

    .clube-section {
        /* position relative: Permite que elementos filhos com 'absolute' usem esta seção como base */
        position: relative;

        /* Como ela faz parte do topo preto, também deve ocupar a largura total da tela */
        grid-column: 1 / -1;
    }

    .clube-section img {
        width: 100%;
        object-fit: cover;
        height: 400px;
        opacity: 20%;
        filter: grayscale(100%);
        -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    }


    .clube-content {
        position: absolute;
        top: 25%;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .tagline-clube {
        font-family: Cheap Pine Sans;
        color: var(--cor-primaria);
        display: flex;
        font-size: 26px;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
        padding-bottom: 10px;
    }

    .clube-line-text {
        margin-top: 14px;
        margin-right: 10px;
        display: block;
        width: 23px;
        height: 3px;
        background-color: var(--cor-primaria);
        /* Dourado da logo */
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
    }

    .h1-clube-content {
        font-family: Cheap Pine Sans;
        font-size: 36px;
        color: var(--branco);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }

    .clube-btn-agendar {
        width: 100%;
        font-family: Cheap Pine Sans;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: var(--branco);
        font-size: 26px;
        padding: 10px;
        border: 2px solid var(--cor-primaria);
        margin-top: 70px;
    }

    .clube-btn-agendar:hover {
        background-color: var(--cor-primaria);
        color: var(--preto);
        transition: 0.2s;
    }

    .clube-widget-info {
        height: auto;
        margin-top: 30px
    }

    .clube-widget-info span {
        font-size: 30px;
    }

    .clube-widget-info p {
        font-family: Lexend Deca;
        color: white;
        font-size: 15px;
        font-weight: 0;
    }

    .tagline-clube {

    }

    .wrapper-beneficios {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: var(--preto);
        
    }

    .wrapper-top {
        position: relative; /* Base para o posicionamento do H2 */
        width: 100%;
        height: 500px; /* Ajuste para não cortar tanto a imagem */
        overflow: hidden;
    }

    .wrapper-top img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.9;
        -webkit-mask-image: linear-gradient(to bottom, black 95%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 95%, transparent 100%);        
    }

    .wrapper-top h2 {
    
        position: absolute;
        bottom: 16px; /* Fixa o título na parte de baixo da imagem */
        left: 10px;
        right: 10px;
        font-family: Cheap Pine Sans;
        font-size: 36px;
        color: var(--cor-primaria);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);

    }    

    .wrapper-bottom {
        
    }



    .widget-wrapper {
         margin-top: 10px;
    }

    .widget-wrapper ul li {
        list-style-type: none;
        font-family: Lexend Deca;
        color: white;
        font-size: 15px;
        font-weight: 0;
        letter-spacing: 0.5px;
        gap: 10px;
        
    }

    /* Adiciona a bolinha dourada personalizada antes do texto */
    .widget-wrapper ul li::before {
        content: "•";
        color: var(--branco);
        font-size: 16px;
        font-weight: bold;
        display: inline-block; 
        width: 0.8em;
        padding: 8px 0px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .seta-clube {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: var(--preto); /* Mantendo o padrão das suas fotos */
    }

        /* Efeito de rolagem suave para todo o site */
    html {
        scroll-behavior: smooth;
    }

    .scroll-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        text-decoration: none;
        width: 50px;
        height: 50px;
    }

    .circle {
        width: 45px;
        height: 45px;
        border: 2px solid var(--cor-primaria); /* Dourado #DA940B */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
    }

    .chevron {
        width: 12px;
        height: 12px;
        border-right: 3px solid var(--cor-primaria);
        border-bottom: 3px solid var(--cor-primaria);
        transform: rotate(45deg);
        margin-top: -5px; /* Ajuste fino para centralizar o ícone */
    }

    /* Efeito de Hover (Interatividade) */
    .scroll-arrow:hover .circle {
        background-color: var(--cor-primaria);
        transform: translateY(5px); /* Pequeno pulo para indicar clique */
    }

    .scroll-arrow:hover .chevron {
        border-color: var(--preto); /* Inverte a cor no hover */
    }
    
    #clube-info-section {
        scroll-margin-top: 70px;
    }

:root {
    --dourado: #DA940B;
    --preto: #000000;
    --cinza-escuro: #1A1A1A;
}

.janela-carrossel {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--dourado);
    background-color: var(--preto);
}

.trilho-planos {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-plano {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.imagem-plano img {
    width: 100%;
    filter: grayscale(100%);
    border: 1px solid #333;
    margin-bottom: 20px;
}

.titulo-plano {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: 'Cheap Pine Sans', sans-serif;
    color: var(--dourado);
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

/* CONTAINER DO PREÇO */
.container-preco {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.box-valor {
    background-color: var(--cinza-escuro);
    width: 85%;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    border-radius: 4px;
}

.validade {
    color: var(--dourado);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    margin-bottom: 5px;
}

.preco-linha {
    position: relative;
    z-index: 5;
    background-color: var(--cinza-escuro);
    display: inline-block;
    padding: 0 15px;
    color: #fff;
}

.text-valor {
    font-family: Lexend Deca;
    font-size: 20px;
    color: var(--cor-primaria);
}

.valor {
    font-family: Cheap Pine Sans;
    font-size: 45px;
    font-weight: bold;
}

/* A LINHA DOURADA QUE ENVOLVE O VALOR */
.linha-dourada-envolta {
    position: absolute;
    top: 70%;
    left: 10%;
    right: 10%;
    height: 1px;
    background-color: var(--dourado);
    z-index: 1;
}

/* SETAS NAS LATERAIS (ENTRE A BOX E O CARD) */
.seta {
    position: absolute;
    background: none;
    border: none;
    color: var(--dourado);
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}

.anterior { left: -10px; }
.proximo { right: -10px; }

/* BOTÃO E LISTA */
.botao-quero {
    width: 100%;
    height: auto;
}

.btn-quero-plano {
    display: block;
    width: 100%;
    padding: 15px;
    border: 2px solid var(--dourado);
    color: #fff;
    text-align: center;
    font-family: 'Cheap Pine Sans', sans-serif;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.btn-quero-plano:hover {
    background-color: var(--cor-primaria);
    color: var(--preto);
    transition: all 0.3s ease-in-out;
}

.lista-beneficios {
    list-style: none;
    padding: 0;
}

.lista-beneficios li {
    color: #fff;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-bottom: 12px;
    padding-left: 20px;
    position: relative;
}

.lista-beneficios li::before {
    content: "•";
    color: var(--dourado);
    position: absolute;
    left: 0;
    font-size: 22px;
    line-height: 1;
}














    /* -------------- Pagina Clube ------------------ */




}



































/* Media Query Abaixo de  (Abaixo de 400px) */
@media (max-width: 550px) {
    header {
        top: 0;
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-bottom: 2px solid var(--cor-primaria);
        z-index: 100000;
        position: sticky;
    }

    .logo img {
        margin-left: 0px;
    }

    .menu-social {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 5px;
        width: 100%;
        gap: 10px;
    }

}






/* Media Query Abaixo de  (Abaixo de 350px) */
@media (max-width: 350px) {
    header {
        top: 0;
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-bottom: 2px solid var(--cor-primaria);
        z-index: 100000;
        position: sticky;
    }

    .menu-social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5px;
        width: 100%;
        gap: 5px;
    }
}