@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');
@font-face {
    font-family: 'Cheap Pine Sans'; /* O nome que você vai usar no código */
    src: url('../Fonts/FontCheapPineSans.otf') format('truetype'); /* Caminho correto do arquivo */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lexend Deca'; /* O nome que você vai usar no código */
    src: url('../Fonts/FontLexendDeca.ttf') format('truetype'); /* Caminho correto do arquivo */
    font-weight: normal;
    font-style: normal;
}


/* --------------- Reset Basico e CSS Grid ------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-primaria: #DA940B;
    --cor-secundaria: #a7740d;
    --branco: #fff;
    --cinza-claro: #d1d1d1; 
    --cinza-escuro: #949494;
    --preto: #000000;
    color-scheme: only light; /* se for escuro ai seria only dark */
}

/* Configuração para Monitores (Desktop) */
.container-principal {
    display: grid;
    grid-template-columns: auto 90vw auto; 
}

/* Garanta que o conteúdo central fique sempre na coluna 2 */
main, footer {
  grid-column: 2;
  width: 100%;
}

.background-black {
    grid-column-start: 0 / 3;
    width: 100%;
    background-color: var(--preto);
    padding-bottom: 50px;
}

/* ------------------------------------------------------------ */






















/* Media Query para Tablet (Abaixo de 1024px) */
@media (max-width: 1024px) {
  .container-principal {
    /* No tablet, o conteúdo ocupa 95% para não encostar na borda física do aparelho */
    grid-template-columns: 1fr 95% 1fr; 
  }
}


/* Media Query para Celular (Abaixo de 768px) */
@media (max-width: 768px) {
 
header {
    top: 0;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 17px;
    background-color: #000000;
    border-bottom: 2px solid var(--cor-primaria);
    z-index: 100000;
    position: sticky;
}

.logo img {
    width: 110px;
    padding-top: 5px;
    height: auto;
}

.menu-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-top: 5px;
    width: 100%;
    gap: 15px;
}

.menu-social a img {
    width: 25px;
}
.menu-social a img:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

/* 2. CONTAINER DO MENU (HEADER) */
.menu-container {
    background: var(--preto);
    padding: 0px 17px;
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Alinha o botão X/Hamburguer na direita */
    align-items: center;
}

/* 3. BOTÃO HAMBÚRGUER / X */
#menu-toggle { 
    display: none;
    outline: none;
    box-shadow: none !important;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    cursor: pointer;
    z-index: 1001;
    
}

.line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #d4af37; /* Dourado da logo */
    transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    
}

/* Transformação para o X */
#menu-toggle:checked + .hamburger .line:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
    background-color: #fff; /* Muda para branco quando vira X */
}

#menu-toggle:checked + .hamburger .line:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked + .hamburger .line:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
    background-color: #fff;
}

/* 4. O MENU (GAVETA LATERAL DIREITA) */
.nav-menu {
    position: absolute;
    top: 41px; /* Brota logo abaixo do header */
    right: 0;    /* ALINHAMENTO À DIREITA: Corrige o erro de sumir da tela */
    width: 100vw; /* Largura ideal para mobile */
    background: rgba(0, 0, 0, 0.918); /* Preto quase sólido */
    list-style: none;
    border-top: 1px solid var(--cinza-claro);
    /* Estado inicial (escondido) */
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.301);
    
}

/* Estado Ativo (quando clica) */
#menu-toggle:checked ~ .nav-menu {
    max-height: 100vh; /* Abre o quanto for necessário */
    opacity: 1;
    visibility: visible;
}

/* 5. ITENS DO MENU */
.nav-menu li {
    width: 100%;
    border-bottom: 1px solid var(--cinza-claro);
}

.nav-menu li a {
    font-family: Lexend Deca;
    display: block;
    padding: 18px 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center; /* Texto alinhado à direita para seguir o botão */
    font-size: 12px;
    letter-spacing:2px;
    transition: 0.3s;
    text-transform: uppercase;
}

/* Efeito ao passar o mouse ou segurar o dedo */
.nav-menu li a:hover {
    background: #111;
    color: #d4af37;
    padding-right: 40px; /* Pequeno movimento para a esquerda no hover */
}

/* ------------------- main abaixo: -------------------- */

 .container-principal {
    display: grid;
    /* auto 90vw auto: Cria colunas flexíveis nas pontas e trava o meio em 90% da largura da tela */
    grid-template-columns: auto 90vw auto;
    
    /* min-content: Garante que cada linha tenha apenas a altura do seu conteúdo, evitando espaços vazios ou sobreposição */
    grid-auto-rows: min-content; 
    
    /* Garante que o grid use toda a largura disponível para calcular as margens 'auto' */
    width: 100%;
  }

/* O símbolo '>' seleciona apenas os filhos diretos (sections e articles) */
.container-principal > * {
    /* grid-column: 2: Força todos os elementos a ficarem na coluna central (90vw) por padrão */
    grid-column: 2;
    width: 100%;
} 


/* ESTICANDO O FUNDO (FULL-BLEED) */
.background-black {
    /* 1 / -1: Faz a section ignorar as margens e ir da borda 1 até a última borda (-1) */
    grid-column: 1 / -1; 
    background-color: #000;
    
    /* Transformamos a section em um grid interno para poder centralizar o texto novamente */
    display: grid;
    /* 'inherit' ou repetir o esquema original para que o conteúdo interno se alinhe com o resto do site */
    grid-template-columns: auto 90vw auto;
}

/* Garante que o conteúdo DENTRO da section preta não bata na borda da tela */
.background-black > * {
    /* Joga o texto/vídeo de volta para a coluna 2 (o meio) */
    grid-column: 2; 
    width: 100%;
}


.hero-section {
   /* position relative: Permite que elementos filhos com 'absolute' usem esta seção como base */
   position: relative;
   
   /* Como ela faz parte do topo preto, também deve ocupar a largura total da tela */
   grid-column: 1 / -1;
}

.hero-section img {
    width: 100%;
    object-fit: cover;
    height: 400px;
    opacity: 70%;
    filter: grayscale(100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}


.hero-content {
    position: absolute;
    top: 30%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.tagline {
    font-family: Cheap Pine Sans;
    color: var(--cor-primaria);
    display: flex;
    font-size: 26px;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
    padding-bottom: 10px;
}

.line-text {
    margin-top: 14px;
    margin-right: 10px;
    display: block;
    width: 23px;
    height: 3px;
    background-color: var(--cor-primaria); /* Dourado da logo */
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.300);
}

.h1-content {
    font-family: Cheap Pine Sans;
    font-size: 36px;
    color: var(--branco);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.btn-agendar {
    width: 100%;
    font-family: Cheap Pine Sans;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 26px;
    padding: 10px;
    border: 2px solid var(--cor-primaria);
    margin-top: 50px;
}

.btn-agendar:hover {
    background-color: var(--cor-primaria);
    color: var(--preto);
    transition: 0.2s;
}

.adress-section {
    width: 100%;
    font-family: Cheap Pine Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 30px;
    padding-top: 10px;
}

.adress {
    margin-top: 20px;
}

.tagline2 {
    width: 65%;
    height: 1px;
    border-radius: 50%
    ;
    background-color: var(--cor-primaria);
}

.number1 {
    width: 100%;
    font-family: Cheap Pine Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.elementor-widget-container {
    height: auto;
}

.widget-video iframe {
    width: 100%;
    height: 854px;
    -webkit-mask-image: linear-gradient(to top, black 80%, transparent 100%);
    mask-image: linear-gradient(to top, black 80%, transparent 100%);
    clip-path: inset(85px 0 0 0);
    margin-top: -80px;
}

.widget-info {
    height: auto;
    margin-top: 30px;
}

.widget-info span {
    font-size: 30px;
}

.widget-info p {
    font-family: Lexend Deca;
    color: white;
    font-size: 15px;
    font-weight: 0;
}

.card-review {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.planos-section {
    position: relative;
}

.banner-vertical {
    position: relative;
    object-fit: cover;
    width: 100%;
    background-color: #bd9923;
    height: 680px;
    margin-bottom: 50px;

}

.banner-horizontal {
    display: none;
}

.planos-content {
    top: 8%;
    left: 10%;
    width: 80%;
    position: absolute; /* era ABSOLUTE */
}

.planos-content a {
    margin-top: 25px;
}

.servicos-section {
    flex-direction: column;
    width: 100%;
    
}

.h2-tittle {
    font-family: Cheap Pine Sans;
    font-size: 32px;
}

.line-black {
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--preto);
}

.tag-preco {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    padding-right: 1px;
    font-family: Cheap Pine Sans;
    font-size: 18px;
    align-items: flex-end;
}

.wrapper-preco-clube {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    font-family: Cheap Pine Sans;
    width: 100%;
    gap: 35px;
    font-size: 18px;
    color: #000000c7;
    padding-bottom: 3px;
}

.preenchimento1 {

}

.preenchimento2 {
     grid-column: 2 / 3;
    border-bottom: 0px dotted var(--preto);
    margin-left: -10px;
    width: 100%;
}

.tag-avulso {
    grid-column: 3;
}

.tag-clube {
    
}

.grid-servicos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.servicos {
    font-family: Cheap Pine Sans;
    font-size: 25px;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-auto-rows: auto;
    align-items: center;
    gap: 25px;
}

.grid-servicos a {
    color: var(--preto);
    font-weight: bold;
}

.elementor-divider {
    grid-column: 2 / 3;
    border-bottom: 2px dotted var(--preto);
    margin-left: -10px;
    width: 100%;
}

.valor-avulso {
    grid-column: 3 / 4;
    font-weight: bold;
    font-size: 23px;
}

.valor-clube {
    grid-column: 4 / 5;
    font-weight: bold;
    font-size: 23px;
}

.grid-servicos p {
    grid-column: 1 / 5;
    font-family: Lexend Deca;
    font-size: 15px;
    margin-top: -15px;
}

.wrapper-servicos {
    font-family: Cheap Pine Sans;
    font-size: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.link-wrapper1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border: 3px solid var(--cor-primaria);
    color: var(--preto);
    transition: all 0.2s ease-in-out;
}

.link-wrapper1:hover {
    background-color: var(--cor-primaria);
    transition: all 0.2s ease-in-out;
}

.link-wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    text-decoration: none;
    border: 3px solid var(--preto);
    background-color: var(--preto);
    color: var(--branco);
    transition: all 0.2s ease-in-out;
}

.link-wrapper2:hover {
    color: var(--preto);
    background-color: var(--branco);
    border: 3px solid var(--preto);
    transition: all 0.2s ease-in-out;
}

}



























/* Media Query Abaixo de  (Abaixo de 400px) */
@media (max-width: 350px) {
  header {
    top: 0;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-bottom: 2px solid var(--cor-primaria);
    z-index: 100000;
    position: sticky;
}
  .menu-social {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    width: 100%;
    gap: 0px;
  }
}