.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
}

.caixa1 {
    grid-area: 1 / 1 / 2 / 5; /* grid-row: 1 / 2; grid-column: 1 / 5; */
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa2 {
    grid-area: 2 / 1 / 4 / 3; /* grid-row: 2 / 4; grid-column: 1 / 3; */
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa3 {
    grid-area: 2 / 3 / 4 / 5; /* grid-row: 2 / 4; grid-column: 3 / 5; */
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}